@import "tailwindcss";

@font-face {
  font-family: "Sohn";
  src: local("Sohn") url("../fonts/TestSohne-BuchKursiv-BF663d89cd3e887.otf")
    format("opentype");
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Sohn, Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[1050px] mx-auto;
}

a {
  @apply cursor-pointer;
}

.MenuContainerSection2{
  @apply flex items-center justify-between text-[13px] font-semibold px-5;
}


.move{
   animation-name: animate;
   animation-duration: 60s;
   animation-delay: 0s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: forward;
}


@keyframes animate {
  from{
    transform: translateX(0);
  }

  to{
    transform: translateX(-100%);
  }
}

.vid{
  height:100%;
  width: 100%;
  object-fit: cover;
}

.pri-btn{
  @apply py-3 px-5 bg-black text-white text-[14px] font-semibold rounded-3xl
}

.reverse-move{
   animation-name: animate;
   animation-duration: 60s;
   animation-delay: 0s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction:reverse
}


@keyframes animate {
  0%{ transform: translateX(0%)}

  100%{ transform: translateX(-100%)}
}




  

     